<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<form id="form-view">
    이름: <input type="text" name="name" id="name"> <br>
    이메일: <input type="text"  name="email" id="email"> <br>
    <div id="grades">
        <p>성적 정보 : </p>
        <div class="grade">
            수업명 : <input type="text" class="className" name="className"> <br>
            점수 : <input type="text" class="point" name="point"> <br>
        </div>
    </div>
    <button type="button" onclick="addGrade()">성적 추가</button>
    <input type="submit" value="제출">
</form>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    function addGrade() {
       const gradeDiv = document.getElementById("grades");
       gradeDiv.innerHTML += `<div class="grade">
            수업명 : <input type="text" class="className" name="className"> <br>
            점수 : <input type="text" class="point" name="point"> <br>
        </div>`
    }

    document
        .getElementById("form-view")
        .addEventListener("submit", async function (event) {
            event.preventDefault();
            const name = document.getElementById("name").value;
            const email = document.getElementById("email").value;
            let grades = [];
            const gradeDivs = document.getElementsByClassName("grade");
            for(let i = 0; i < gradeDivs.length; i++) {
                const className =
                    gradeDivs[i].getElementsByClassName("className")[0].value;
                const point =
                    gradeDivs[i].getElementsByClassName("point")[0].value;
                const gradeObj = {className, point};
                grades.push(gradeObj);
            }
            console.log(grades);
            try {
                const response = await axios.post(
                    "http://localhost:8080/hello/axios-nested-json-view",
                    {name : name, email: email, grades: grades}
                );
                console.log(response.data);
            } catch (e) {
                console.log(e.message);
            }
        });
</script>
</body>
</html>