<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<form id="form-view">
    이름: <input type="text" name="name" id="name"> <br>
    이메일: <input type="text" name="email" id="email"> <br>
    password: <input type="text" name="password" id="password"> <br>
    신분증: <input type="file" id="file" name="file" multiple> <br>
    제출 <input type="submit">
</form>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    document
        .getElementById("form-view")
        .addEventListener("submit", async function (event) {
            event.preventDefault();
            const name = document.getElementById("name").value;
            const email = document.getElementById("email").value;
            const password = document.getElementById("password").value;
            const fileInput = document.getElementById("file");
            const hello = {name:name, email:email, password:password};
            const helloJson = JSON.stringify(hello);
            const files = fileInput.files;
            const formData = new FormData();
            formData.append("hello", new Blob([helloJson], {type:"application/json"}));
            for (let i = 0; i < files.length; i++) {
                formData.append("files", files[i]);
            }

            try {
                const response = await axios.post(
                    "http://localhost:8080/hello/axios-json-multi-file-view", formData,
                    {headers : {'Content-Type' : 'multipart/form-data'}}
                );
                console.log(response.data);
            } catch (e) {
                console.log(e.message);
            }
        });
</script>
</body>
</html>